@{
    ViewData["Title"] = "About_Us";
}
@{
    Layout = "~/Views/Home/Layout.cshtml";
}
@section AddHead{
    <link rel="stylesheet" href="~/css/Home/about_us.css" asp-append-version="true" />
}

<!-- image -->
<img src="~/imgs/about.png" class="about" />

<!-- center heading -->
<h1 class="container text-center">A Few words about us</h1>
<div class="d-flex justify-content-center">
    <hr />
    <img src="~/imgs/forma-1-copy-5.png" class="forma-1-copy-5" />
    <hr class="hr2" />
</div>

<!-- few words about us starts -->

<div class="d-flex justify-content-center text-center">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie
        convallis tempor. Duis vestibulum vel risus condimentum dictum. Orci
        varius natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. Vivamus quis enim orci. Fusce risus lacus, sollicitudin
        eu magna sed, pharetra sodales libero. Proin tincidunt vel erat id
        porttitor. Donec tristique est arcu, sed dignissim velit vulputate
        ultricies.<br /><br />
        Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac
        habitasse platea dictumst. Vivamus eget mauris eget nisl euismod
        volutpat sed sed libero. Quisque sit amet lectus ex. Ut semper ligula et
        mauris tincidunt hendrerit. Aenean ut rhoncus orci, vel elementum
        turpis. Donec tempor aliquet magna eu fringilla. Nam lobortis libero ut
        odio finibus lobortis. In hac habitasse platea dictumst. Mauris a
        hendrerit felis. Praesent ac vehicula ipsum, at porta tellus. Sed dolor
        augue, posuere sed neque eget, aliquam ultricies velit. Sed lacus elit,
        tincidunt et massa ac, vehicula placerat lorem.
    </p>
</div>

<!-- few word about us end -->

<h2 class="container text-center">Our story</h2>
<div class="d-flex justify-content-center">
    <hr />
    <img src="~/imgs/forma-1-copy-5.png" class="forma-1-copy-5" />
    <hr class="hr2" />
</div>

<div class="d-flex justify-content-center text-center">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie
        convallis tempor. Duis vestibulum vel risus condimentum dictum. Orci
        varius natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. Vivamus quis enim orci. Fusce risus lacus, sollicitudin
        eu magna sed, pharetra sodales libero. Proin tincidunt vel erat id
        porttitor. Donec tristique est arcu, sed dignissim velit vulputate
        ultricies.<br /><br />
        Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac
        habitasse platea dictumst. Vivamus eget mauris eget nisl euismod
        volutpat sed sed libero. Quisque sit amet lectus ex. Ut semper ligula et
        mauris tincidunt hendrerit. Aenean ut rhoncus orci, vel elementum
        turpis. Donec tempor aliquet magna eu fringilla. Nam lobortis libero ut
        odio finibus lobortis. In hac habitasse platea dictumst. Mauris a
        hendrerit felis. Praesent ac vehicula ipsum, at porta tellus. Sed dolor
        augue, posuere sed neque eget, aliquam ultricies velit. Sed lacus elit,
        tincidunt et massa ac, vehicula placerat lorem.
    </p>
</div>

@section AddFooter{
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/js/Home/au.js" asp-append-version="true"></script>
}