@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
          rel="stylesheet" />

    <link rel="stylesheet" href="~/css/Home/index.css" asp-append-version="true" />
</head>
<body>

    <section class="banner">
        <header id="header">
            <!-- navbar starts -->
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container-fluid">
                    <a href="#" class="navbar-brand">
                        <img src="~/imgs/white-logo-transparent-background.png" 
                             class="white-logo-transparent-background" />
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                            data-bs-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav ms-auto me-2">
                            <li class="nav-item text-center mb-1">
                                <a class="nav-link border border-1 rounded-pill ms-1 me-1 bl" 
                                   href="#">Book a cleaner</a>
                            </li>
                            <li class="nav-item text-center mb-1 b">
                                <a class="nav-link" asp-controller="Home" asp-action="Prices">Prices</a>
                            </li>
                            <li class="nav-item text-center mb-1 b">
                                <a class="nav-link" href="#">Our Guarantee</a>
                            </li>
                            <li class="nav-item text-center mb-1 b">
                                <a class="nav-link" href="#">Blog</a>
                            </li>
                            <li class="nav-item text-center mb-1 b">
                                <a class="nav-link" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                            </li>
                            <li class="nav-item text-center mb-1">
                                <a class="nav-link border border-1 rounded-pill ms-1 me-1 bl" 
                                   href="#">Login</a>
                            </li>
                            <li class="nav-item text-center mb-1">
                                <a class="nav-link border border-1 rounded-pill ms-1 me-1 bl" 
                                   asp-controller="Home" asp-action="Become_a_Provider">Become a Helper</a>
                            </li>
                            <li class="btn-group dropstart">
                                <button class="btn btn-secondary data-toggle"
                                        type="button"
                                        id="dropdownMenuButton1"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    <img id="flagImage"
                                         src="~/imgs/india.svg"
                                         alt="" />
                                    <img id="ddIcon"
                                         src="~/imgs/forma-1.png"
                                         style="transform:rotate(180deg)!important;"
                                         alt="" />
                                </button>
                                <ul class="dropdown-menu mt-5"
                                    aria-labelledby="dropdownMenuButton1">
                                    <li>
                                        <a class="dropdown-item">
                                            <img src="~/imgs/india.svg" alt="" />
                                            India
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <img src="~/imgs/australia.svg" alt="" /> 
                                            Australia
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="d-flex flex-wrap flex-column">
            <div class="d-flex flex-column mt-190 ml-55">
                <h1>Lorem ipsum text</h1>
                <p>
                    <img src="~/imgs/forma-1-copy-10.png" alt="" />
                    &ensp;Lorem ipsum dolor sit amet, consectetur adipiscing
                </p>
                <p>
                    <img src="~/imgs/forma-1-copy-10.png" alt="" />
                    &ensp;Lorem ipsum dolor sit amet, consectetur adipiscing
                </p>
                <p>
                    <img src="~/imgs/forma-1-copy-10.png" alt="" />
                    &ensp;Lorem ipsum dolor sit amet, consectetur adipiscing
                </p>
            </div>
            <div class="text-center">
                <button class="mt-16">Let’s Book a Cleaner</button>
            </div>
            <div class="d-flex flex-wrap justify-content-center align-self-center mt-163 fpic">
                <div class="d-flex flex-column align-items-center">
                    <img class="img1" src="~/imgs/forma-1-copy.png" />
                    <p>Enter your postcode</p>
                </div>
                <img class="arow a1" src="~/imgs/step-arrow-1.png" />
                <div class="d-flex flex-column align-items-center">
                    <img class="img1" src="~/imgs/group-22.png" />
                    <p>Select your plan</p>
                </div>
                <img class="arow a2" src="~/imgs/step-arrow-1-copy.png" alt="" />
                <div class="d-flex flex-column align-items-center">
                    <img class="img1" src="~/imgs/forma-10.png" alt="" />
                    <p>Pay securely online</p>
                </div>
                <img class="arow a3" src="~/imgs/step-arrow-1.png" alt="" />
                <div class="d-flex flex-column align-items-center">
                    <img class="img1" src="~/imgs/forma-01.png" alt="" />
                    <p>Pay securely online</p>
                </div>
            </div>
            <a href="#why-helperland" class="text-center mt-43">
                <img src="~/imgs/shape-1.png" class="shape-1" />
            </a>
        </div>
    </section>

    <main>
        <section id="why-helperland" class="d-flex flex-wrap flex-column align-items-center mt-87">
            <h2>Why Helperland</h2>
            <div class="d-flex flex-wrap mt-84 justify-content-center">
                <div class="d-flex flex-column justify-content-center text-center">
                    <img src="~/imgs/group-21.jpg" />
                    <h6>Experience & Vetted Professionals</h6>
                    <p>dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers exceptional results.</p>
                </div>
                <div class="d-flex flex-column justify-content-center text-center">
                    <img src="~/imgs/group-23.jpg" alt="" />
                    <h6>Secure Online Payment</h6>
                    <p>Payment is processed securely online. Customers pay safely online and manage the booking.</p>
                </div>
                <div class="d-flex flex-column justify-content-center text-center">
                    <img src="~/imgs/group-24.jpg" alt="" />
                    <h6>Dedicated Customer Service</h6>
                    <p>to our customers and are guided in all we do by their needs. The team is always happy to support you and offer all the information.</p>
                </div>
            </div>
        </section>
        <section class="d-flex flex-wrap flex-column align-items-center mt-156">
            <div class="d-flex flex-wrap flex-column">
                <div class="d-flex flex-wrap align-items-center justify-content-center">
                    <div class="para">
                        <h6>Lorem ipsum dolor sit amet, consectetur</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi sapien, suscipit ut accumsan vitae, pulvinar ac libero.
                            <br><br>
                            Aliquam erat volutpat. Nullam quis ex odio. Nam bibendum cursus purus, vel efficitur urna finibus vitae. Nullam finibus aliquet pharetra. Morbi in sem dolor. Integer pretium hendrerit ante quis vehicula.
                            <br><br>
                            Mauris consequat ornare enim, sed lobortis quam ultrices sed.
                        </p>
                    </div>
                    <div class="text-center">
                        <img src="~/imgs/group-36.png" class="grp36" alt="" />
                    </div>
                </div>
                <h3>Our Blog</h3>
                <div class="d-flex flex-wrap justify-content-center">
                    <div class="card mx-3 mt-66">
                        <img src="~/imgs/group-28.jpg" class="cardimg" />
                        <h6>Lorem ipsum dolor sit amet</h6>
                        <p class="date">January 28, 2019</p>
                        <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                        <a href="#">Read more <img src="~/imgs/shape-2.png" alt="" /></a>
                    </div>
                    <div class="card mx-3 mt-66">
                        <img src="~/imgs/group-29.jpg" class="cardimg" />
                        <h6>Lorem ipsum dolor sit amet</h6>
                        <p class="date">January 28, 2019</p>
                        <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                        <a href="#">Read more <img src="~/imgs/shape-2.png" alt="" /></a>
                    </div>
                    <div class="card mx-3 mt-66">
                        <img src="~/imgs/group-30.jpg" class="cardimg" />
                        <h6>Lorem ipsum dolor sit amet</h6>
                        <p class="date">January 28, 2019</p>
                        <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                        <a href="#">Read more <img src="~/imgs/shape-2.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </section>

        <section class="customer">
            <h4>What Our Customers Say</h4>
            <div class="d-flex flex-wrap justify-content-center">
                <div class="card mx-3 mt-59 align-items-center">
                    <img src="~/imgs/message.png" class="msgimg" />
                    <div class="d-flex imgname">
                        <img src="~/imgs/group-31.jpg" />
                        <p>Lary Watson<br><span>Manchester</span></p>
                    </div>
                    <div>
                        <p class="content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.
                            <br><br>
                            Nullam et metus congue, auctor augue sit amet, consectetur tortor.
                        </p>
                        <a>Read More <img src="~/imgs/shape-2.png" /></a>
                    </div>
                </div>
                <div class="card mx-3 mt-59 align-items-center">
                    <img src="~/imgs/message.png" class="msgimg" />
                    <div class="d-flex imgname">
                        <img src="~/imgs/group-32.jpg" />
                        <p>Lary Watson<br><span>Manchester</span></p>
                    </div>
                    <div>
                        <p class="content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.
                            <br><br>
                            Nullam et metus congue, auctor augue sit amet, consectetur tortor.
                        </p>
                        <a>Read More <img src="~/imgs/shape-2.png" alt="" /></a>
                    </div>
                </div>
                <div class="card mx-3 mt-59 align-items-center">
                    <img src="~/imgs/message.png" class="msgimg" />
                    <div class="d-flex imgname">
                        <img src="~/imgs/group-33.jpg" />
                        <p>Lary Watson<br><span>Manchester</span></p>
                    </div>
                    <div>
                        <p class="content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.
                            <br><br>
                            Nullam et metus congue, auctor augue sit amet, consectetur tortor.
                        </p>
                        <a>Read More <img src="~/imgs/shape-2.png" alt="" /></a>
                    </div>
                </div>
            </div>



            <div class="text-center mt-4">
                <p class="getnewsletter">GET OUR NEWSLETTER</p>
                <div class="d-flex flex-wrap justify-content-center">
                    <input type="email" placeholder="YOUR E-MAIL" class="rounded-pill align-items-left email ps-3 py-2" />
                    <button type="submit" class="rounded-pill align-items-center submit px-3 py-2 mx-2">SUBMIT</button>
                </div>
            </div>

        </section>
    </main>


    <footer>
        <div style="background: #111111;">
            <div class="container d-flex justify-content-between align-items-center flex-wrap py-4">
                <div>
                    <a href="#">
                        <img src="~/imgs/white-logo-transparent-background.png" class="white-logo-transparent-background" />
                    </a>
                </div>

                <nav class="nav mx-5">
                    <ul class="nav mx-5">
                        <li class="nav-item">
                            <a href="#" class="nav-link">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="AboutUs" class="nav-link">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">TESIMONIALS</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="FAQs" class="nav-link">FAQs</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">INSURANCE POLICY</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">IMPRESSUM</a>
                        </li>
                    </ul>
                </nav>

                <!-- logo of instagram and facebook -->
                <div class="mx-4">
                    <a class="px-2" href="#">
                        <img src="~/imgs/ic-facebook.png" alt="" />
                    </a>
                    <a class="px-2" href="#">
                        <img src="~/imgs/ic-instagram.png" alt="" />
                    </a>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <hr style="width: 70%;color: #cccccc;" />
            </div>



            <div class="text-center" style="color: #9ba0a3; padding-bottom: 15px;">
                <p class="mb-0 d-inline font-size:14px;">
                    ©2018 Helperland. All rights reserved.&emsp; Terms and Conditions
                    <a href="#" style="color: #9ba0a3!important; text-decoration: none;">|  Privacy Policy</a>
                </p>
            </div>


        </div>

    </footer>
    <div id="okbtn">
        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat nunc
            libero, ac malesuada ligula aliquam ac.
            <a href="">Privacy Policy</a>
        </div>
        <a id="ok-btn" class="btn btn-primary">OK!</a>
    </div>
    <a href="#banner-section" class="btn btn-primary" id="btn-back-to-top">
        <img src="~/imgs/forma-1.png" alt="">
    </a>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/Home/index.js" asp-append-version="true"></script>
</body>
</html>