*{
    font-family: 'Roboto', sans-serif;;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.bgimg{
    background-image: url(../images/becomepro.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.fixed{
    
    position: fixed;
    top: 0;
    width: 100%;
  
  
}

nav a{
    font-weight: normal;
    font-style: normal;
    color: #ffffff!important;
    font-size: 17px;
}

header nav{
    width: 100%;
}
.white-logo-transparent-background{
    width: 138px;
    height: 102px;
    
}
#book{
    background-color: transparent; 
    padding: 8px 24px 8px 24px;
}
#price{
    background-color: transparent;
    padding: 8px 24px 8px 24px;
}
#lgn{
    background-color: transparent;
    padding: 8px 24px 8px 24px;
}
#b-helper{
    background-color: transparent;
    padding: 8px 24px 8px 24px;
}

#dropdown {
    background: url("../images/india.svg");
    background-repeat: no-repeat;
    height: 16px;
    width: 44px;
    border: 0;
}

.registration-form{
    max-width: 430px;
    background-color: white;
    box-shadow: 0px 0px 16px #00000026;
    margin: 39px 20px;
}
.registration-form h4{
    font-weight: 700;
    font-size: 24px;
    margin-top: 19px;
    color: #4f4f4f;
    margin-bottom: 20px;
}
.registration-form .i1{
    width: 80%;
    margin-bottom: 15px;
    border: solid 0.6px #8c8c8c;
    border-radius: 3px;
    padding: 5px 15px;
    color: #a0a0a0;
}
.registration-form #de span{
    background-color: #f4f4f4;
    margin-bottom: 15px;
    width: 9%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: solid 0.6px #8c8c8c;
    padding: 5px 5px;
    min-width: 33px;
}
.registration-form #de input{
    width: 71%;
    padding: 5px 10px;
    margin-bottom: 15px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: solid 0.6px #8c8c8c;
    color: #a0a0a0!important;
}
.check{
    color: #4f4f4f;
    text-align: left!important;
    margin-left: 10%;
}
.check span{
    color: #1fb6ff;
}
button{
    background-color: #1d7a8c;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 27px;
    color: white;
}
.shape1{
    border: solid 1.5px white;
    padding: 7px 9px;
    border-radius: 50%;
    margin-bottom: 15px;
}
h2{
    color: #4f4f4f;
    font-size: 40px;
    line-height: 1;
    margin-top: 60px;
}
.group-18b{
    max-width: 260px!important;
    max-height: 260px!important;
    margin-left: 100px;
}
.ry{
    font-size: 30px;
    line-height: 1.2!important;
    color: #4f4f4f!important;
}
.ryp{
    color: #4f4f4f;
    max-width: 330px;
    line-height: 1.33;
    font-size: 18px;
}
.group-29{
    border-radius: 50%;
    object-fit: fill;
    height: 260px;
    width: 260px;
    margin-right: 100px;
}
.group-30{
    border-radius: 50%;
    object-fit: fill;
    height: 260px;
    width: 260px;
    margin-left: 100px;
}







@media(max-width:694px){
    .group-29 , .group-18b , .group-30{
        margin: 50!important;
    }
}
@media(max-width:674px){
    .group-29 , .group-18b , .group-30{
        margin: 0!important;
    }
}

@media(max-width:262px){
    .group-18b , .group-29 , .group-30{
        height: 200px;
        width: 200px;
    }
}
@media(max-width:208px){
    .group-18b , .group-29 , .group-30{
        height: 150px;
        width: 150px;
    }
}










h3{
    font-size: 18px; 
    color: #353548; 
    font-weight: bold;
}
#mail{
    color: #565656; 
    width: 233px; 
    font-size: 14px; 
    border: solid 1px #565656;
}
#submit{
    height: 40px; 
    color: #ffffff; 
    background: #ff7b6d; 
    border: none; 
    font-size: 14px;
    line-height: 2.29;
}
footer .white-logo-transparent-background{
    width: 106px;
    height: 78px;
}
footer a{
    color: white!important;
}
footer hr{
    width: 80%;
    color: #8c8c8c;
}
h6 , h6 a{
    color: #9ba0a3!important;
    font-size:14px;
}








@media(max-width:400px){
    #de input{
        width: 70%!important;
    }
}
@media(max-width:315px){
    #de input{
        width: 67%!important;
    }
}
@media(max-width:243px){
    #de input{
        width: 61%!important;
    }
}



@media (max-width:513px){
    footer .container{
        text-align: center!important;
    }
}
@media (max-width:600px){
    main{
        padding-left: 15px!important;
        padding-right: 15px!important;
    }
}
@media (max-width:1200px){
    footer .container{
        justify-content: center!important;
    }
}
@media (max-width:990px){
    footer.container{
        justify-content: center!important;
    }
    footer nav ul{
        display: inline-block!important;
    }
}