#ResetPassword{
    margin-top:60px;
}
form{
    width:400px;
    color:#4f4f4f;
}
form label{
    font-weight:700;
}
@media (max-width:320px){
    form{
        width:100%!important;
    }
}
input[type="submit"] {
    text-align: center;
    background: #1d7a8c;
    color: white;
    border-radius: 24px;
    font-size: 16px;
    font-weight: bold;
    border:0;
}
input[type="submit"]:hover{
    background:#ffffff!important;
    color:#1d7a8c!important;
    border : solid 1px #1d7a8c;
}