@using HELPERLAND.Models.ViewModels;
@model ForgetPasswordViewModel
@{
    Layout = null;
}
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Forgot password</h4>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
        </div>
        <div class="modal-body">
            @Html.Raw(ViewBag.Alert)
            <form id="forgetPasswordForm" method="post">
                <div class="row mb-3">
                    <div class="form-group">
                        <input type="text"
                               class="form-control"
                               id="email"
                               asp-for="Email"
                               placeholder="Email address" />
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="form-group">
                        <button type="button" class="btn" onclick="ResetPassRequestsend();">Send</button>
                    </div>
                </div>
                <div class="row text-center">
                    <a href="">Login now</a>
                </div>
            </form>
        </div>
    </div>
</div>