
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin | Service Request</title>

    <link rel="icon" type="image/x-icon" href="~/favicon.png" />

    @*<link rel="stylesheet" href="~/rateit.js-master/scripts/rateit.css" />*@
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" />

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
          rel="stylesheet" />


    <link rel="stylesheet"
          href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap5.min.css" />

    <link rel="stylesheet" href="~/css/Home/dataTables.bootstrap5.min.css" asp-append-version="true" />


    <link rel="stylesheet" href="~/css/Admin/servicerequest.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/rateit.js-master/scripts/rateit.css" />



</head>
<body>

    <div class="modal" tab-index="-1" id="adminpopup" role="dialog"></div>

    <header>
        <div class="d-flex align-items-center">
            <div>
                <h1><a href="#">helperland</a></h1>
            </div>
            <div class="ms-auto me-4">
                <a href="#" class="logo1"><i class="fa fa-user-circle-o"></i></a><span class="js mx-2">@User.Identity.Name</span><a class="logo1" asp-controller="foruser" asp-action="logout"><i class="fa fa-power-off"></i></a>
            </div>
        </div>
    </header>

    <main>
        <div id="main" class="d-flex">
            <div id="open"><i class="fa fa-bars"></i></div>
            <div id="close"><i class="fa fa-times"></i></div>

            <div class="navigation mx-2">
                <ul>
                    <li class="n">
                        <span>@User.Identity.Name</span> <a asp-controller="foruser" asp-action="logout"><i class="fa fa-power-off"></i></a>
                    </li>

                    <li class="li"><a class="activenavbar">Service Requests</a></li>

                    <li class="li"><a asp-controller="admin" asp-action="usermanagement">User Management</a></li>
                </ul>
            </div>

            <div class="d-flex flex-column table-container mx-2" id="content">
                <div class="d-flex align-items-center flex-wrap my-3">
                    <h6>Service Requests</h6>
                </div>
                <div class="form">
                    <div>
                        <input type="text" class="form-control" id="serviceId" placeholder="Service Id" />
                    </div>

                    <div>
                        <input type="number"
                               class="form-control"
                               id="postalCode"
                               placeholder="Postalcode" />
                    </div>

                    <div>
                        <input type="email"
                               class="form-control"
                               id="email"
                               placeholder="Email" />
                    </div>

                    <div>
                        <input type="text"
                               class="form-control"
                               id="selectCustomer"
                               placeholder="Select Customer" />
                    </div>

                    <div>
                        <input type="text"
                               class="form-control"
                               id="selectSP"
                               placeholder="Select Service Provider" />
                    </div>

                    <div>
                        <select id="selectStatus" class="form-select">
                            <option value="selectStatus" selected>Select Status</option>
                            <option value="1">Completed</option>
                            <option value="2">Cancelled</option>
                            <option value="3">Refunded</option>
                            <option value="4">Pending</option>
                            <option value="5">New</option>
                        </select>
                    </div>

                    <div class="d-flex align-items-center">
                        <input type="checkbox" class="issueCheckbox" id="hasIssue" />
                        <label> Has Issue</label>
                    </div>

                    <div>
                        <input type="date"
                               class="form-control"
                               id="fromDate"
                               placeholder="From Date" />
                    </div>
                    <div>
                        <input type="date"
                               class="form-control"
                               id="toDate"
                               placeholder="To Date" />
                    </div>

                    <button id="searchbtn">Search</button>
                    <button id="clearbtn">Clear</button>
                </div>
                <div>
                    <table id="requesttable" class="table">
                        <thead>
                            <tr>
                                <th>Service ID</th>
                                <th>Service Date</th>
                                <th>Customer details</th>
                                <th>Service Provider</th>
                                <th>Gross Amount</th>
                                <th>Net Amount</th>
                                <th>Discount</th>
                                <th>Status</th>
                                <th>Payment Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <p class="last">©2018 Helperland. All rights reserved.</p>
                </div>
            </div>
        </div>
    </main>

    @*<script src="~/rateit.js-master/scripts/jquery.rateit.js"></script>*@

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery.validate.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap5.min.js"></script>
    <script src="~/rateit.js-master/scripts/jquery.rateit.js"></script>


    <script src="~/js/Admin/servicerequest.js" asp-append-version="true"></script>
</body>
</html>