@{
    Layout = null;
}
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Accept Request</h4>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <button id="acceptRequestbtn" style="background:#1d7a8c;color:white;width:100%;padding:7px;border:none;border-radius:27px;">
                Accept
            </button>
            @Html.Raw(@ViewBag.Alert)
        </div>
    </div>
</div>