* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

header nav {
    background: rgba(82, 82, 82, 0.8);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body{
    margin-top:120px!important;
}
.white-logo-transparent-background {
    height: 54px;
    width: 73px;
}

header .nav-link,
.snavbar .nav-link{
    font-size: 17px;
    color: #ffffff !important;
}

.blk {
    background: #29626d;
    padding: 8px 12px !important;
}

.notification {
    border-right: solid 1px #ffffff;
    border-left: solid 1px #ffffff;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.fa-bell {
    color: #ffffff;
    font-size: 32px;
}

.mt-1:hover {
    border: solid 1px #ffffff;
    border-radius: 20px;
    transition: 0.4s ease;
}

.blg:hover {
    border: solid 1px #ffffff;
    border-radius: 21px !important;
    padding-left: 14px !important;
    padding-right: 14px !important;
    transition: 0.4s ease;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

h1 {
    font-size: 30px;
    line-height: 0.9;
    color: #4f4f4f;
    font-weight: normal;
}

    h1 span {
        font-weight: bold;
    }

.forthewelcome {
    background: #f1f1f1;
    padding-top: 120px;
    padding-bottom: 44px;
    border-bottom: solid 1px #e1e1e1;
}

.snavbar {
    background: #1d7a8c;
    width: 30%;
    max-width: 250px !important;
}

    .snavbar ul {
        padding-left: 0 !important;
    }

    .snavbar li {
        border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    }

footer .white-logo-transparent-background {
    width: 106px;
    height: 78px;
}

footer a {
    color: white !important;
}

footer hr {
    width: 80%;
    color: #8c8c8c;
}

h6,
h6 a {
    color: #9ba0a3 !important;
    font-size: 14px;
}

@media (max-width: 166px) {
    h1 {
        margin-top: 120px;
    }

    .forthewelcome {
        padding-bottom: 14px;
    }
}

@media (max-width: 124px) {
    h1 {
        margin-top: 120px;
        font-size: 14px !important;
    }

    .forthewelcome {
        padding-bottom: 10px;
        padding-top: 20px;
    }
}

@media (max-width: 513px) {
    footer .container {
        text-align: center !important;
    }
}

@media (max-width: 1200px) {
    footer .container {
        justify-content: center !important;
    }
}

@media (max-width: 990px) {
    footer.container {
        justify-content: center !important;
    }

    footer nav ul {
        display: inline-block !important;
    }
}

/*  */
.header2 {
    display: none;
}

    .header2 hr {
        color: #ffffff !important;
    }

@media (max-width: 767px) {
    .header2 a,
    .header2 h6,
    .header2 .fa {
        color: white !important;
        font-weight: normal;
    }

    .forthewelcome {
        padding-top: 100px !important;
    }

    .snavbar {
        margin: 0 !important;
    }

    #collapsibleNavbar {
        margin-top: 10px;
        padding-left: 10px !important;
        height: 350px !important;
        overflow-y: auto;
    }

    .header2 {
        display: inline;
    }

    .snavbar {
        display: none !important;
    }

    .header1 {
        display: none !important;
    }

    .white-logo-transparent-background {
        height: 44px;
        width: 63px;
    }

    .notification {
        margin: 0 !important;
        padding-top: 0 !important;
    }
}


.pagination {
    flex-wrap: wrap;
}

.page-item.active {
    background: transparent !important;
}

    .page-item.active .page-link {
        background: #1d7a8c !important;
        color: white !important;
        padding-top: 12px !important;
        padding-bottom: 12px !important;
        border: none !important;
        text-align: center !important;
        width: 50px !important;
    }

.page-item {
    width: 50px !important;
    margin: 3px !important;
}

.page-link {
    color: #646464 !important;
    text-align: center !important;
    width: 50px !important;
    border-radius: 50% !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    border: solid 1px #e1e1e1 !important;
}

.row {
    --bs-gutter-x: 0 !important;
}

.dropdown-menu {
    margin-left: -80px;
}

.username {
    margin-left: 15px;
}

.content {
    width: 100% !important;
}
.content .nav-tabs{
    border:none!important;
}
    .content .nav-tabs .nav-link{
        border:none;
        color:#4f4f4f;
        border-bottom:solid 3px #e1e1e1;
    }
    .content .nav-tabs .nav-link.active {
        color: #1d7a8c!important;
        border-bottom: solid 3px #1d7a8c!important;
    }
    .active-avtar {
        border: solid 4px #1d7a8c;
        border-radius:50%;
    }

#account-status{
    margin-top:20px;
}
#account-status {
    font-size: 20px;
    color: #4f4f4f;
    font-weight: 700;
}
.form-section-title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dcdcdc;
    font-weight: 700;
    margin: 0 0 15px;
}
    #account-status .account-active {
        color: #67b644;
        font-weight:400!important;
    }
        #account-status .account-inactive{
            color:red!important;
            font-weight:400!important;
        }
#mainProfileImg {
    float: right;
}
.avtar-list{
    object-fit:contain;
}
select{
    height:38px;
}
.form-control{
    width:96%;
}
.savebtn {
    padding: 5px 9px;
    border: none;
    border-radius: 27px;
    color: white;
    background: #1d7a8c;
}